[run]
omit = tests/*,*/__init__.py,manage.py,mii_common/wsgi.py,*/migrations/*,*/factories.py,settings/*,utils/*

[report]
exclude_lines=
	if __name__ == .__main__.:
	if settings.REPORT_ENABLED:
	import logging
	logger = logging.getLogger(__name__)

