celery
django
django-celery
django-supervisor
django-dbbackup
mysql-python
pytest
pytest-django
spur
feedparser
mock
python-memcached
requests
git+https://github.com/jmcgeheeiv/pyfakefs.git
git+https://github.com/MiiRaGe/pyreport.git
