celery
django
django-celery
django-supervisor
django-dbbackup
gunicorn
mysql-python
pytest
pytest-django
pytest-cov
spur
feedparser
mock
python-memcached
python-coveralls
requests
git+https://github.com/jmcgeheeiv/pyfakefs.git
git+https://github.com/MiiRaGe/pyreport.git
