celery
coveralls
django<1.10
django-celery
django-supervisor
django-dbbackup
factory-boy
gunicorn
pytest
pytest-django
pytest-cov
spur
feedparser
mock
python-memcached
python-coveralls
python-jsonrpc
mysql-python
raven
requests
git+https://github.com/jmcgeheeiv/pyfakefs.git
git+https://github.com/MiiRaGe/pyreport.git
