{% extends 'mii_interface/base.html' %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#navigation-bar').find('li.active').toggleClass('active')
        $('#navigation-bar').find('#nav-discrepancies').toggleClass('active')
    });
</script>
{% endblock %}

{% block content %}
    <form method="POST" href=".">
    {% csrf_token %}
    <button type="submit">Fix Discrepancies ?</button>
    </form>
<h1>Movies Discrepancies</h1>
<ul>
    {% for movie in movie_discrepancy %}
        <li>{{ movie.title }} ({{ movie.id }})</li>
    {% endfor %}
</ul>
<h1>Object Discrepancies</h1>
<ul>
    {% for folder in folder_discrepancy %}
        <li><span class="{% if folder.folder_exists %}text-success{% endif %}">{{ folder.folder }}</span> {% if folder.movie_folder %}<span class="{% if folder.movie_folder_exists %}text-success{% endif %}">(Object: {{ folder.movie_folder }})</span>{% endif %}</li>
    {% endfor %}
</ul>
{% endblock %}