{% extends 'mii_interface/base.html' %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#navigation-bar').find('li.active').toggleClass('active')
        $('#navigation-bar').find('#nav-series').toggleClass('active')
    });
</script>
{% endblock %}

{% block content %}
    <h1>Series</h1>
    <ul>
    {% for episode in episodes %}
        <li>{{ episode.season__serie__name }} : Season {{ episode.season__number }} Episode {{ episode.number }}</li>
    {% endfor %}
    </ul>
{% endblock %}