{% extends 'mii_interface/base.html' %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#navigation-bar').find('li.active').toggleClass('active')
        $('#navigation-bar').find('#nav-series').toggleClass('active')
    });
</script>
{% endblock %}

{% block content %}
    <h1>Series</h1>
    <ul>
    {% for episode in episodes %}
        <li>{{ episode.season__serie__name }} : Season {{ episode.season__number }} Episode {{ episode.number }}
                <form method="post" action="./play">
                    {% csrf_token%}
                    <input type="hidden" name="episode_id" value="{{ episode.id}}"/>
                    <div class="btn-group pull-right" role="group">
                        <input type="submit" class="btn btn-default" value="Play"/>
                    </div>
                </form>
        </li>
    {% endfor %}
    </ul>
{% endblock %}